<a href="https://colab.research.google.com/github/Janardhan97/Janardhan97/blob/main/E_commerceRMF_method_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [3]:
#RMF Analysis

In [4]:
from google.colab import files
import io

data= files.upload()

Saving E-com_Data.xlsx to E-com_Data.xlsx

In [5]:
df = pd.read_excel('E-com_Data.xlsx')

In [6]:
df

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Cancelled_status,Reason of return,Sold as set
0,4355.0,15734,398177,2017-10-29,6,15:36:00,321.0,1926.0,Location 1,NaN,NaN,NaN
1,4352.0,14616,394422,2017-10-05,2,14:53:00,870.0,1740.0,Location 1,NaN,NaN,NaN
2,4352.0,14614,394422,2017-10-12,2,14:53:00,933.0,1866.0,Location 1,NaN,NaN,NaN
3,4352.0,85014B,388633,2017-08-22,3,14:47:00,623.0,1869.0,Location 1,NaN,NaN,NaN
4,4352.0,15364,394422,2017-10-10,2,14:53:00,944.0,1888.0,Location 1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
537974,NaN,85194L,372313,2017-03-23,6,09:27:00,198.0,1188.0,Location 8,NaN,NaN,NaN
537975,NaN,14693,367605,2017-02-06,2,14:25:00,761.0,1522.0,Location 8,NaN,NaN,NaN
537976,NaN,14693,368246,2017-02-06,3,10:40:00,761.0,2283.0,Location 8,NaN,NaN,NaN
537977,NaN,85194L,366891,2017-01-29,15,17:05:00,198.0,2970.0,Location 8,NaN,NaN,NaN
537978,NaN,14693,391243,2017-09-17,20,12:42:00,417.0,8340.0,Location 8,NaN,NaN,NaN

In [7]:
df.isna().sum()    # check missing data

CustomerID           133790
Item Code                 0
InvoieNo                  0
Date of purchase          0
Quantity                  0
Time                      0
price per Unit            0
Price                     0
Shipping Location         0
Cancelled_status     529634
Reason of return     537976
Sold as set          537979
dtype: int64

In [8]:
 df.describe()

,CustomerID,InvoieNo,Quantity,price per Unit,Price,Cancelled_status,Sold as set
count,404189.000000,537979.000000,537979.000000,537979.000000,537979.000000,8345.0,0.0
mean,2181.909035,385017.572063,9.343339,378.339062,2161.414593,1.0,NaN
std,1252.681881,13426.052649,27.623322,440.048823,4538.487177,0.0,NaN
min,2.000000,361429.000000,-2003.000000,1.000000,-10152.000000,1.0,NaN
25%,1207.000000,372961.000000,1.000000,169.000000,451.000000,1.0,NaN
50%,2078.000000,385706.000000,3.000000,261.000000,1194.000000,1.0,NaN
75%,3291.000000,396873.000000,10.000000,456.000000,2232.000000,1.0,NaN
max,4372.000000,406651.000000,3186.000000,64973.000000,90400.000000,1.0,NaN

In [9]:
df.shape

(537979, 12)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537979 entries, 0 to 537978
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         404189 non-null  float64
 1   Item Code          537979 non-null  object
 2   InvoieNo           537979 non-null  int64
 3   Date of purchase   537979 non-null  datetime64[ns]
 4   Quantity           537979 non-null  int64
 5   Time               537979 non-null  object
 6   price per Unit     537979 non-null  float64
 7   Price              537979 non-null  float64
 8   Shipping Location  537979 non-null  object
 9   Cancelled_status   8345 non-null    float64
 10  Reason of return   3 non-null       object
 11  Sold as set        0 non-null       float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(4)
memory usage: 49.3+ MB

In [11]:
df.nunique()   #checking unique values

CustomerID            4349
Item Code             4009
InvoieNo             24928
Date of purchase       381
Quantity               462
Time                   770
price per Unit        3479
Price                16327
Shipping Location       20
Cancelled_status         1
Reason of return         2
Sold as set              0
dtype: int64

In [12]:

# check totsl nm of % dta missing

df.isnull().sum() / len(df)*100

CustomerID            24.869000
Item Code              0.000000
InvoieNo               0.000000
Date of purchase       0.000000
Quantity               0.000000
Time                   0.000000
price per Unit         0.000000
Price                  0.000000
Shipping Location      0.000000
Cancelled_status      98.448824
Reason of return      99.999442
Sold as set          100.000000
dtype: float64

In [13]:
# i will drop missing data for customer row wise

# data cleaning --  duplicate data



df1 = df.drop(['Sold as set', 'Reason of return', 'Cancelled_status'], axis = 1)

In [14]:
df1

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location
0,4355.0,15734,398177,2017-10-29,6,15:36:00,321.0,1926.0,Location 1
1,4352.0,14616,394422,2017-10-05,2,14:53:00,870.0,1740.0,Location 1
2,4352.0,14614,394422,2017-10-12,2,14:53:00,933.0,1866.0,Location 1
3,4352.0,85014B,388633,2017-08-22,3,14:47:00,623.0,1869.0,Location 1
4,4352.0,15364,394422,2017-10-10,2,14:53:00,944.0,1888.0,Location 1
...,...,...,...,...,...,...,...,...,...
537974,NaN,85194L,372313,2017-03-23,6,09:27:00,198.0,1188.0,Location 8
537975,NaN,14693,367605,2017-02-06,2,14:25:00,761.0,1522.0,Location 8
537976,NaN,14693,368246,2017-02-06,3,10:40:00,761.0,2283.0,Location 8
537977,NaN,85194L,366891,2017-01-29,15,17:05:00,198.0,2970.0,Location 8
537978,NaN,14693,391243,2017-09-17,20,12:42:00,417.0,8340.0,Location 8

In [19]:
df1.loc[df.duplicated(),:]

# finding duplicate values

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location
61202,4043.0,15819,403353,2017-12-02,1,14:07:00,447.0,447.0,Location 36
70587,3984.0,15422,405579,2017-12-09,24,14:09:00,77.0,1848.0,Location 36
84823,3828.0,14519,398139,2017-10-31,1,14:04:00,85.0,85.0,Location 36
120521,3384.0,15121,380588,2017-06-11,1,11:37:00,298.0,298.0,Location 36
182786,2607.0,15660,393225,2017-09-30,1,12:31:00,484.0,484.0,Location 36
248215,1852.0,15614,382863,2017-07-02,12,09:53:00,221.0,2652.0,Location 36
310310,1291.0,13958,368695,2017-02-14,2,16:17:00,298.0,596.0,Location 36
325175,1076.0,2020,405755,2017-12-13,12,15:48:00,58.0,696.0,Location 36
414854,NaN,2020,386281,2017-07-31,1,17:09:00,104.0,104.0,Location 36

In [21]:
df1.shape

(537979, 9)

In [23]:
df2 = df1.drop_duplicates(ignore_index =True)    # removing duplicate values

In [24]:
df2.shape

(537970, 9)

In [25]:
df2.isna().sum()    # we have null values in customer id

CustomerID           133789
Item Code                 0
InvoieNo                  0
Date of purchase          0
Quantity                  0
Time                      0
price per Unit            0
Price                     0
Shipping Location         0
dtype: int64

In [26]:
 df2 = df2.dropna(subset=['CustomerID'])  # we removed now all the rows in customer id where it is null , items removed 1333789

In [27]:
df2.shape

(404181, 9)

In [28]:
df2.isna().sum()     # now we dont have any null values

CustomerID           0
Item Code            0
InvoieNo             0
Date of purchase     0
Quantity             0
Time                 0
price per Unit       0
Price                0
Shipping Location    0
dtype: int64

In [31]:
df2.dtypes   # checking all the data types

CustomerID                  float64
Item Code                    object
InvoieNo                      int64
Date of purchase     datetime64[ns]
Quantity                      int64
Time                         object
price per Unit              float64
Price                       float64
Shipping Location            object
dtype: object

In [43]:
df2['Date'] = pd.to_datetime(df2['Date of purchase'])

In [53]:
df2['Date2'] = df2['Date']  # created 2 dummy columns for future use to add rmf and frequency

In [54]:
df2['Date3'] = df2['Date']

In [55]:
df2

,CustomerID,Item Code,InvoieNo,Date of purchase,Quantity,Time,price per Unit,Price,Shipping Location,Date,Date2,Date3
0,4355.0,15734,398177,2017-10-29,6,15:36:00,321.0,1926.0,Location 1,2017-10-29,2017-10-29,2017-10-29
1,4352.0,14616,394422,2017-10-05,2,14:53:00,870.0,1740.0,Location 1,2017-10-05,2017-10-05,2017-10-05
2,4352.0,14614,394422,2017-10-12,2,14:53:00,933.0,1866.0,Location 1,2017-10-12,2017-10-12,2017-10-12
3,4352.0,85014B,388633,2017-08-22,3,14:47:00,623.0,1869.0,Location 1,2017-08-22,2017-08-22,2017-08-22
4,4352.0,15364,394422,2017-10-10,2,14:53:00,944.0,1888.0,Location 1,2017-10-10,2017-10-10,2017-10-10
...,...,...,...,...,...,...,...,...,...,...,...,...
537936,37.0,14693,402292,2017-11-28,1,12:07:00,384.0,384.0,Location 8,2017-11-28,2017-11-28,2017-11-28
537937,37.0,14693,402292,2017-11-27,1,12:07:00,398.0,398.0,Location 8,2017-11-27,2017-11-27,2017-11-27
537938,21.0,77618,363890,2016-12-21,8,12:58:00,308.0,2464.0,Location 8,2016-12-21,2016-12-21,2016-12-21
537939,21.0,85194L,363890,2016-12-21,36,12:58:00,113.0,4068.0,Location 8,2016-12-21,2016-12-21,2016-12-21
537940,21.0,14693,363890,2016-12-17,13,12:58:00,380.0,4940.0,Location 8,2016-12-17,2016-12-17,2016-12-17

In [56]:
# recency = Latest Date -  last invoice data
#latest date = todays 's date or 

#frequenc of invoice n. of the transction done by customer

#monetary = Sum of total amount purchase by custome

max(df2['Date of purchase'])

Timestamp('2017-12-19 00:00:00')

In [57]:
#last date = 2017- 12-19
#latest date = 2017-12-20

import datetime as dt
latest_date = dt.datetime(2017,12,20)

In [58]:
latest_date

datetime.datetime(2017, 12, 20, 0, 0)

In [59]:
# create RMF model by each customer

RMFScore = df2.groupby('CustomerID').agg({'Date': lambda x :(latest_date - x.max()).days,
                                          'Date' : lambda x : x.nunique(), 
                                         'price': lambda x : x.sum()})

KeyError: ignored

In [66]:
RMFScore['Date'] = RMFScore['Date'].astype(int)
RMFScore.rename (columns = {'Date1' : 'Recency' , 'Date' : 'Frequency', 'Date3' : 'Monetory'},
                 inplace= True)

RMFScore.reset_index().head()

NameError: ignored

In [65]:
RMFScore = df2.groupby('CustomerID').agg({'Recency': lambda x : (latest_date - x.max()).days,
                                         'Frequency' : lambda x : x.nunique(), 
                                         'Monetory': lambda x : x.sum()})

KeyError: ignored